In [1]:
#ANSWERS

In [3]:
#Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
#Ans. Please find below the code:

test1 = 'This is a test of the emergency text system.'

# Save test1 to a file named test.txt
with open('test.txt', 'w') as file:
    file.write(test1)

print("String saved to test.txt")

String saved to test.txt

In [4]:
#Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
#Ans. Please find below the code:

with open('test.txt', 'r') as file:
    test2 = file.read()
# Check if there's any difference
print(test1 == test2)  # Should print True

True

In [5]:
#Q3. Create a CSV file called books.csv by using these lines:
#title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Miéville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992

#Ans.Please find below the code:
csv_lines = [
    "title,author,year",
    "The Weirdstone of Brisingamen,Alan Garner,1960",
    "Perdido Street Station,China Miéville,2000",
    "Thud!,Terry Pratchett,2005",
    "The Spellman Files,Lisa Lutz,2007",
    "Small Gods,Terry Pratchett,1992"
]

# Save CSV lines to a file named books.csv
with open('books.csv', 'w') as file:
    for line in csv_lines:
        file.write(line + '\n')

print("CSV file 'books.csv' created.")

CSV file 'books.csv' created.

In [7]:
#Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
#Ans. Please find below the code:

import sqlite3

# Connect to or create the database
conn = sqlite3.connect('books.db')

# Create a cursor
cursor = conn.cursor()

# Create the 'books' table with the specified fields
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("SQLite database 'books.db' created with the 'books' table.")

SQLite database 'books.db' created with the 'books' table.

In [9]:
#Q5. Read books.csv and insert its data into the book table.
#Ans. Please find below the code:

import csv
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the books table if it doesn't exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Read data from books.csv and insert into the books table
with open('books.csv', 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header line
    for row in csv_reader:
        title, author, year = row
        cursor.execute('INSERT INTO books VALUES (?, ?, ?)', (title, author, int(year)))

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data from 'books.csv' inserted into the 'books' table in 'books.db'.")

Data from 'books.csv' inserted into the 'books' table in 'books.db'.

In [10]:
#Q6. Select and print the title column from the book table in alphabetical order.
#Ans. Please find below the code:

import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print the title column in alphabetical order
cursor.execute('SELECT title FROM books ORDER BY title ASC')
titles = cursor.fetchall()

print("Titles in alphabetical order:")
for title in titles:
    print(title[0])

# Close the connection
conn.close()

Titles in alphabetical order:
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!

In [11]:
#Q7. From the book table, select and print all columns in the order of publication.
#Ans. Please find below the code:

import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print all columns in the order of publication
cursor.execute('SELECT * FROM books ORDER BY year ASC')
books = cursor.fetchall()

print("Books in the order of publication:")
for book in books:
    print("Title:", book[0])
    print("Author:", book[1])
    print("Year:", book[2])
    print()

# Close the connection
conn.close()

Books in the order of publication:
Title: The Weirdstone of Brisingamen
Author: Alan Garner
Year: 1960

Title: The Weirdstone of Brisingamen
Author: Alan Garner
Year: 1960

Title: Small Gods
Author: Terry Pratchett
Year: 1992

Title: Small Gods
Author: Terry Pratchett
Year: 1992

Title: Perdido Street Station
Author: China Miéville
Year: 2000

Title: Perdido Street Station
Author: China Miéville
Year: 2000

Title: Thud!
Author: Terry Pratchett
Year: 2005

Title: Thud!
Author: Terry Pratchett
Year: 2005

Title: The Spellman Files
Author: Lisa Lutz
Year: 2007

Title: The Spellman Files
Author: Lisa Lutz
Year: 2007

In [12]:
#Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
#Ans. Please find below the code:

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# Create an engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db')

# Create a session to interact with the database
Session = sessionmaker(bind=engine)
session = Session()

# Test the connection by querying the books table
books = session.execute('SELECT * FROM books').fetchall()

# Print the results
print("Books in the database:")
for book in books:
    print("Title:", book.title)
    print("Author:", book.author)
    print("Year:", book.year)
    print()

# Close the session
session.close()

Books in the database:
Title: The Weirdstone of Brisingamen
Author: Alan Garner
Year: 1960

Title: Perdido Street Station
Author: China Miéville
Year: 2000

Title: Thud!
Author: Terry Pratchett
Year: 2005

Title: The Spellman Files
Author: Lisa Lutz
Year: 2007

Title: Small Gods
Author: Terry Pratchett
Year: 1992

Title: The Weirdstone of Brisingamen
Author: Alan Garner
Year: 1960

Title: Perdido Street Station
Author: China Miéville
Year: 2000

Title: Thud!
Author: Terry Pratchett
Year: 2005

Title: The Spellman Files
Author: Lisa Lutz
Year: 2007

Title: Small Gods
Author: Terry Pratchett
Year: 1992

In [25]:
#Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
#Ans. Please find below the code:

pip install redis
import redis

# Connect to the local Redis server
redis_client = redis.StrictRedis(host='localhost', port=6379, db=0)

# Create a Redis hash called "test" with the fields count and name
redis_client.hset("test", "count", 1)
redis_client.hset("test", "name", "Fester Bestertester")

# Retrieve and print all fields from the "test" hash
test_hash = redis_client.hgetall("test")
print("Fields in 'test' hash:")
for field, value in test_hash.items():
    print(f"{field}: {value.decode('utf-8')}")

SyntaxError: invalid syntax (1495680086.py, line 4)

In [31]:
#Q10. Increment the count field of test and print it.
#Ans. Please find below the code:

pip install redis
import redis

# Connect to the local Redis server
redis_client = redis.StrictRedis(host='localhost', port=6379, db=0)

# Increment the count field of the "test" hash
new_count = redis_client.hincrby("test", "count", 1)

# Print the updated count value
print("Updated count:", new_count)

IndentationError: unexpected indent (2160819836.py, line 4)